# Prevent script execution in the uploads directory block
<FilesMatch "\.(php|php3|php4|php5|php7|php8|phtml|pl|py|jsp|asp|htm|html|shtml|sh|cgi)$">
    Require all denied
</FilesMatch>

# Prevent viewing directory index
Options -Indexes

# Disable PHP engine entirely within this folder (for mod_php)
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php5.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
